{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    {% block css %}
    {% endblock %}

    <title>TOGETHER</title>
</head>

<body>

<header>
  <div rel="main.html" class="div_logo">
    <img src="/static/img/together-logo.png" width="150" height="80" align="left">
  </div>

  <div class="div_header_bar">
  <ul id="main-menu">
    <li><a href="main.html">ABOUT TOGETHER</a></li>
    <li><a href="#">TO GATHER</a>
      <ul id="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>

      </ul>
    </li>
    <li><a href="#">BE TOGETHER</a>
      <ul id="sub-menu">
        <li><a href="#" aria-label="subemnu">submenu</a></li>

      </ul>
    </li>
    <li><a href="come_together.html">COME TOGETHER</a>
      <ul id="sub-menu">

      </ul>
    </li>
      <button class="button button2">SIGN UP</button>
      <button class="button button1" >SIGN IN</button>


        </div>
  </header>

      <div class="div_menu"> <!--menu에 대한 class입니다. 현재 페이지 뷰에 맞게 bold 처리만 해주세요. -->
        <a href="main.html" id="menu_button_together">

          <br style="font-size: 10px">
        </a>
        <a href="to_gather.html" id="menu_button_to_gather">
          <br style="font-size: 10px">
        </a>
        <a href="be_together.html" id="menu_button_be_together">
          <br style="font-size: 10px"></a>
        </div>

    <div rel="main.html" class="div_logo">
        <img src="/static/img/together-logo.png" width="150" height="80" align="left">
    </div>
    <div class="div_header_bar">
        <ul id="main-menu">
            <li><a href="main.html">ABOUT TOGETHER</a></li>
            <li><a href="#">TO GATHER</a>
                <ul id="sub-menu">
                    <li><a href="#" aria-label="subemnu">submenu</a></li>
                </ul>
            </li>
            <li><a href="{% url 'chat:be_together' %}">BE TOGETHER</a>
                <ul id="sub-menu">
                    <li><a href="#" aria-label="subemnu">submenu</a></li>
                </ul>
            </li>
            <li><a href="come_together.html">COME TOGETHER</a>
                <ul id="sub-menu">
                    <li><a href="#" aria-label="subemnu">submenu</a></li>
                </ul>
            </li>
            {% if user.is_active %}
                <a href="" class="button"> {{user.username}}</a>
                <a href="{% url 'logout' %}" class="button">LOG OUT</a>
            {% else %}
                <a href="{% url 'signup' %}" class="button">SIGN UP</a>
                <a href="{%url 'login' %}" class="button"> LOG IN</a>
            {% endif %}
    </div>

  <div class="div_menu"> <!--menu에 대한 class입니다. 현재 페이지 뷰에 맞게 bold 처리만 해주세요. -->
    <a href="main.html" id="menu_button_together">
        <br style="font-size: 10px">
    </a>
    <a href="to_gather.html" id="menu_button_to_gather">
        <p>{%block menu_to_gather%}{%endblock%}</p>
        <br style="font-size: 10px">
    </a>
    <a href="{% url 'chat:be_together' %}" id="menu_button_be_together">
        <p>{%block menu_be_together%}{%endblock%}</p>
        <br style="font-size: 10px"></a>
</div>

  <div rel="" class="div_contents">
          {%block contents%}

          {%endblock%}

  </div>


      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    </body>
</html>
