{%extends 'website/base.html'%}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'css/come_together.css' %}">

{% endblock %}

{%block contents%}

<div class = div_references>
  <br>
  <br>

<h1 style=color:#2C54A3 ;><strong>  우리는 이제 막 시작했을 뿐입니다 </strong><h1>
  <b > 'Together'의 미래는 여러분들이 더욱 만들어 나가는 것입니다.</b>
  <br>
  <br>
    <b>
    작은 생각하나로 이 웹사이트는 효율적인 협업 툴 또는 효과적인 공유 플랫폼으로 거듭날 수 있게 될 것입니다.</b>
    <br><br><br>
  <b> 우리와 'TOGETHER' 해서 'BETTER TOGETHER' 을 만들어 나가볼까요?</b>
  <br><br><br>
  <a href="https://github.com/jnl1128/sharing-together-website" ><img src="/static/img/better_together.png" width="150" height="150" align="center"" > </a>

</div>


{%endblock%}
