{% load static %}
 <!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<title>TOGETHER</title>
    <link rel="stylesheet" href="{% static 'css/come_together.css' %}" />
    <link rel="stylesheet" href="{% static 'css/come_together_hover.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
 	</head>

 	<body>
    <div class="container">
      <br><br><br><br>
      <pre>
      <h1 style="font-size: 7.5vmin; text-align=center;"> Come Together Better Together!</h1>
      <br>
      <h1> We've just started off :)  </h1>
      <hr style="border:dashed 1px grey; width:400px;">
    </pre>
      <br><br><br><br><br><br>
      <pre>
        <strong><p>우리는 이제 막 시작했을 뿐입니다. 순항중이지만 조금씩 흔들리는 건 어쩔 수 없는 일입니다.</p></strong><br>
        <strong><p>그렇기에 우리는 당신이 필요합니다. </p></strong><br>
      <p> 우리가 Together을 시작하게 된 계기는 여기에 있습니다 </p><br><br>
      <img id = "image" src="/static/img/come_together.png" width="1000" height="500">
      <div class="together">
      <b id="together" style="font-size: 9vmin;">T</b><b>&nbsp;&nbsp;ry our personal best</b><br>
      <b id="together" style="font-size: 9vmin;">O</b><b>&nbsp;&nbsp;rganize our things</b><br>
      <b id="together" style="font-size: 9vmin;">G</b><b>&nbsp;&nbsp;etting our works done</b><br>
      <b id="together" style="font-size: 9vmin;">E</b><b>&nbsp;&nbsp;xpressing our ideas</b><br>
      <b id="together" style="font-size: 9vmin;">T</b><b>&nbsp;&nbsp;hinking deeply</b><br>
      <b id="together" style="font-size: 9vmin;">H</b><b>&nbsp;&nbsp;elping others</b><br>
      <b id="together" style="font-size: 9vmin;">E</b><b>&nbsp;&nbsp;nriching our minds</b><br>
      <b id="together" style="font-size: 9vmin;">R</b><b>&nbsp;&nbsp;specting each other</b><br>


      <br>
      <p> 'Together' 을 통해서 우리는 다양한 것을 할 수 있습니다.</p><br>
      :<p><strong><u>&nbsp;도전, 조직, 표현, 사고, 협업, 공유, 공감 </u></strong></p><br>
      <p> 그리고 이것은 확장, 연결, 통합 이 세 가지의 과정으로 나타내질 수 있습니다</p>


  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
  <div class="container_2">
    <br><br><br><br><br>
    <figure class="snip1200">
    <img src="/static/img/connect.png" />
    <figcaption>
      <div class="heading">
        <p>연결</p>
      </div>
    </figcaption>
  </figure>
  <figure class="snip1200">
  <img src="/static/img/share.png" />
  <figcaption>
    <div class="heading">
    </div>
  </figcaption>
</figure>
<figure class="snip1200">
<img src="/static/img/integrate.png" />
<figcaption>
  <div class="heading">
  </div>
</figcaption>
</figure>
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>
<div id="with">

<a href="https://github.com/jnl1128/sharing-together-website.git"> <img src ="/static/img/with_together.png" width="300" height="300"></a><br><br><br><br><br><br><br><br><br>
<pre style="font-size:2.4vmin; text-align:center">
"우리는 어쩌면 이보다 더 완벽해질 수 있습니다
혹 지금과는 차원이 다른 모습이 될 수도 있죠
하지만 우리는 이 길이 더 나아지는 길이라는 것은
분명히 알고 있습니다
Together은 협업 플랫폼인만큼
협업을 중요시하게 생각합니다
우리와 함께 나은 미래를 그려가볼까요?
We can be better If we are TOGETHER
If you click the image,
you can move to
our Git repository address"
- Cho, Jung, and Kim </pre>
</div>




</div>


    <div class="screen">
      <div class="road">
      <img src="/static/img/road.png"  width="275" height="300" align="center">
    </div>
    <div class="bike-screen">
      <div class="bike">
        <div class="left-handle"></div>
        <div class="right-handle"></div>
        <div class="headlight"></div>
        <div class="left-suspension"></div>
        <div class="left-support"></div>
        <div class="right-suspension"></div>
        <div class="right-support"></div>
        <div class="body"></div>
        <div class="wheel"></div>
      </div>
    </div>

  </div>



		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>

    $(".screen").click(function() {
    	var el = $(this),
    			newone = el.clone(true);

    	el.before(newone);
    	$(el).remove();
    });
    </script>

    <script>
    $(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
      }
      );
    </script>

    </body>
</html>
