<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div id="wrapper">
    <div id="userWrap">
        <nav>
            <span>
                TOGETHER
            </span>
        </nav>
        <div id="menuList" style= "height:200px; width:200px; float:left;">
            <div id="menuHeader">메뉴</div>
            <div class="button menuBtn" id="introduceBtn">WHY TOGETHER?</div>
            <div class="button menuBtn" id="startBtn"> TO GATHER 시작하기 </div>

        </div>

        <div id="Content" style ="height:500px; width:600px; float:left; ">
          <div class="animated-title">
            <div class="text-top">
              <div>
                <span >To gather?</span>
                <span >Be together!</span>
              </div>
            </div>

          </div>
          <div class="Context_1">
            <span>왜  Together일까요?</span>
          </div>
          <div class="Context_2">
            <span> 이제 우리는 더 똑똑해질 수 있습니다 </span>
            <span> 하나의 네트워크 공간 안에서 동일한 시간의 흐름속에 놓인 우리들은 문제점을 공유하고 해결방법을 논의합니다.
            </span>
            <br> To GATHER
            <br> 해결이 안 되는 문제가 있다면 스스로 모임을 구성해보세요. 분명히 나와 같은 고민을 갖고 있는 사람이 있을거에요
              <br> Be TOGETHER
              <br> 이미 나와 같은 고민을 하고 있었던 사람이 있지 않았을까요? 모임을 찾고 함께 문제에 대해 고민해봐요.
          </div>

        </div>
    </div>
  </div>

</body>
</html>
