{%extends 'website/base.html'%}

{%block menu_to_gather%}
<b>To gather</b>
{%endblock%}

{%block menu_be_together%}
Be together
{%endblock%}

{%block category_content%}
  {%for post in posts %}
    <li>{{post.title}}</li>
  {%endfor%}
{%endblock%}

{%block list_content%}

  {%block content_name%}
  <h2>To gather</h2>
  {%endblock%}
  <table style="margin-left: 10px;">
  <thead style="margin-left: 20px;">
    <tr>
      <th>순서</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      <th>참여자수</th>
    </tr>
  </thead>


  <tbody style="text-align: center;">
    <tr>
      <td style="width: 70px;">1</td>
      <td style="width: 500px;">카테고리에 대한 채팅 제목의 예시1입니다.</td>
      <td style="width: 130px">choalter</td>
      <td style="width: 100px">23652</td>
      <td style="width: 100px;">22363</td>
    </tr>

    <tr>
      <td style="width: 70px;">2</td>
      <td style="width: 500px;">카테고리에 대한 채팅 제목의 예시2입니다.</td>
      <td style="width: 130px">narin</td>
      <td style="width: 100px">42321</td>
      <td style="width: 100px;">30487</td>
    </tr>


    <tr>
       <td style="width: 70px;">3</td>
       <td style="width: 500px;">카테고리에 대한 채팅 제목의 예시3입니다.</td>
       <td style="width: 130px">jia</td>
       <td style="width: 100px">38272</td>
       <td style="width: 100px;">24837</td>
     </tr>

   </tbody>

 </table>
 <a class="btn btn-default" href="{% url 'to_gather_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><!--수정하기 위한 아이콘-->
{%endblock%}
