
.container_btn {
    display: table;
    height: 100%;
    width: 100%;
}

.buttons {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

[class*="btn-"] {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-right:3em;
    max-width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}


.btn-1 {
    letter-spacing: 0;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
}
.btn-1:hover,
.btn-1:focus,
.btn-1:active {
    letter-spacing: 5px;
}
.btn-1:after,
.btn-1:before {
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
    width: 0;
}
.btn-1:hover:after,
.btn-1:hover:before {
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
}
.btn-1:hover:before {
    bottom: auto;
    top: 0;
}
