
@keyframes fadein{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

b {font-size:2vmin;}


.div_menu{
    float: left;
    width: 0px;
    height: 0px;

}
.div_contents
{
  width: 1300px;
  height: 800px;
  margin-top: 120px;
  margin-left: 50px;
  background-color: #4B89DC;
  border-color: #6cbdf3;
  border-width: thin;
  border-style : solid;
  font-family: 'Nanumgothic',Tahoma;

}

.div_references
{ font-size : 5vmin;
  animation: fadein 2s;
}
