/* 색 구분하려고 일단 background color 다르게 해 두었습니다 */
/* body -> 전체적인 css */

@keyframes fadein{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}











/* h2 -> Category, Be Together text */


/* menu 란의 hyperlink css. 우선 흰색으로 출력되게 해 놓았습니다. */
a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: #003366;}

/*logo css*/


.div_logo{
    float: left;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 45px;
    font-size: 45px;
    position:fixed;
}

/*menu css*/
.div_menu{
    float: left;
    text-align: center;
    width: 200px;
    height: 400px;
    margin-top: 120px;
    margin-left: 20;
    position: fixed;
    font-size: 30px;
    background-color: #6cbdf3;
    border-radius: 5px;
}



/*contents*/

.div_contents
{
    float: left;
    text-align: center;
    align-content: center;
    width: 1100px;
    height: 800px;
    margin-top: 120px;
    margin-left: 250px;
    font-size: 15px;
    background-color: #6cbdf3;
    border-radius: 5px;
    position: fixed;
    color: white;

}

.div_references
{ font-size : 5vmin;
  animation: fadein 2s;
}
