/* 색 구분하려고 일단 background color 다르게 해 두었습니다 */
/* body -> 전체적인 css */
body{
    color: black;
}

/* h2 -> Category, Be Together text */
h2{
    font-size: 30px;
    color: black;
}

/* menu 란의 hyperlink css. 우선 흰색으로 출력되게 해 놓았습니다. */
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: #003366;}

/*logo css*/
.div_logo{
    float: left;
    text-align: center;
    width: 300px;
    height: 100px;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 45px;
    background-color: #3875d7;
}

/*header_bar css*/
.div_header_bar{
    float: left;
    text-align: center;
    width: 1050px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 45px;
    background-color: #205067;
}
/*menu css*/
.div_menu{
    float: left;
    text-align: center;
    width: 300px;
    height: 400px;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 30px;
    background-color: #5b80b2;
    border-radius: 5px;
}

/*post-form css*/
.post-form{
    color: black;

}
/*contents-category css*/
#div_contents_category{
    float: left;
    text-align: center;
    width: 200px;
    height: 400px;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 15px;
    background-color: #447e9b;
    border-radius: 5px;
}

/*contents-chat_list css*/
#div_contents_chat_lists{
    float: left;
    text-align: center;
    align-content: center;
    width: 800px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 15px;
    background-color: #003366;
    border-radius: 5px;
}
