{% extends 'website/base.html' %}
{% load static %}

{% block css %}
    <style rel="stylesheet" href="{% static "css/room.css" %}"></style>
{% endblock %}

{% block menu_be_together %}
{% endblock %}

{% block contents %}
    <h1>{{ room_name_json }} 채팅방</h1>
    <br>
    <textarea id="chat-log" cols="100" rows="20"></textarea>
    <br><br><br>
    <input id="chat-message-input" type="text" size="90" style="margin-left: 10%">
    <input class="button" id="chat-message-submit" type="button" value="Send"
           style="margin-right: 15%; margin-left: -5%; margin-top: -0.5%">


<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}