{% extends 'website/base.html' %}

{% block contents %}
<h1 style="margin-left: 7%">Good Bye!</h1>
<br>
<div class="container">
    <h2>다른 계정으로 로그인 하기</h2>
    <br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        USERNAME:
        <br>
        <input name="username" type="text">
        <br>
        PASSWORD:
        <br>
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="button" value="LOG IN" style="margin-right: 47%">
    </form>
</div>
{% endblock %}